* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN */
.login-card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* CHAT */
.chat-container {
  background: white;
  width: 420px;
  height: 550px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

.chat-header {
  background: #4f46e5;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background: #f9fafb;
}

.message {
  margin-bottom: 10px;
}

.message b {
  color: #4f46e5;
}

.chat-form {
  display: flex;
  padding: 10px;
  gap: 5px;
}

.chat-form input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.chat-form button {
  padding: 10px 12px;
  border: none;
  background: #06b6d4;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.location-btn {
  background: #22c55e;
}
